# Supabase Configuration
SUPABASE_URL=https://bhqgfszxiuqmwojhpvne.supabase.co
SUPABASE_ANON_KEY=sb_publishable_bxxy9kOOubVoXKyX00OIEA_m-NOgEDe
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# LINE Messaging API (Mirawi Salon Demo)
LINE_CHANNEL_SECRET=47e57b0be1271f363d374037a116f0fe
LINE_CHANNEL_ACCESS_TOKEN=5BgAocIICUXkX3ENSSey1RMnPK7uO/yEt/iwGzMwce4Ak9H+87v0MmK5wKTAIVcJNgZHwQUMqdNz/720X9+g5oE1fay063HmshB58K9b5wmatkYKfw1AEKZNe99PNZWdWkwDZDX91b8/wylahNbaDwdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_ID=2009643805

# Webhook Configuration
LINE_WEBHOOK_URL=https://line-app-xi.vercel.app/api/line-webhook
